* {
    margin: 0;
    padding: 0;
}

.ml-5 {
    margin-left: 40px;
}

.mr-5 {
    margin-right: 130px;
}

.z-1 {
    z-index: 1;
}

.container {
    display: flex;
    justify-content: center;
}

.slider {
    display: grid;
    overflow: scroll;
    grid-template-columns: repeat(3, 400px);
}

.card {
    position: relative;
    float: left;
    background-color: white;
    box-shadow: 0px 5px 80px #00000029;
    border-radius: 43px;
    opacity: 1;
    color: white;
    margin-top: 40px;
}

.card-body-1 {
    width: 80%;
}

.card-body-2 {
    width: 100%;
}

.card-body-3 {
    width: 80%;
}

.card p {
    position: absolute;
    margin-top: -260px;
    margin-left: 70px;
    text-align: center;
    font-size: 25px;
    max-width: 80%;
}

body {
    width: 100%;
}

.slide-header {
    text-align: center;
    justify-content: center;
    width: 100%;
    display: flex;
}

.slide-title {
    font-size: 35px;
}

.icon {
    z-index: 3;
}

.android {
    position: absolute;
    top: -20px;
    left: 300px;
    width: 80px;
    height: 80px;
}

.code {
    position: absolute;
    top: -14px;
    left: 80px;
    width: 80px;
    height: 80px;
}

.ios {
    position: absolute;
    top: -10px;
    left: 40px;
    width: 60px;
    height: 80px;
}

.javascript {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50px;
    top: -22px;
}