@font-face {
    font-family: 'DIN next arabic';
    src: url('./fonts/DIN\ Next\ LT\ Arabic\ Light.ttf') format('truetype');
  }

*{
    margin:0px;
    padding:0px;
 
}

/* 
html {
    overflow-x: hidden;
    
    width: 100%;
    height:100%;
}

body {
    overflow-x: hidden;
    
    width: 100%;
} */



.newacc-btn{
    display: none;
    background: #00ADBB 0% 0% no-repeat padding-box;
    padding: 10px;
    margin: 10px;
    margin-left: 65px;
    border-radius: 9px;
    opacity: 1;
    border: transparent;
}

.register-btn{
    display: none;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    padding: 10px;
    margin: 10px;
    border: 1px solid #50B9C9;
    border-radius: 9px;
    opacity: 1;
}


.parent-main{
    position: relative;
    overflow: hidden;
    height: 1000px;
}

    .whiteBox{
        position: absolute;
         top: -4.928px;
         left: -39px;
         width: 450px;
         height: 415.57px;
         clip: auto;
         transform: rotate(-24deg);
         /* UI Properties */
         background-color: white !important;
         box-shadow: 0px 3px 40px #00000029;
         border-radius: 99px;
         opacity: 1;
         z-index: -1;
     }
     .white-img{
        position: inherit;
        top: 33px;
        left: 48px;
        width: 233px;
        height: 231px;
        /* UI Properties */
        background: transparent url('img/banner0 copy.png') 0% 0% no-repeat padding-box;
        transform: rotate(24deg);
        opacity: 1;
     }

     #white-text-1{
         
         position: absolute;
         margin-top:282px;
         margin-left:240px;
         transform: rotate(24deg);
         text-align: left;
         width: 200px;
         height: 44px;
         font-family: 'DIN next arabic';
         color: black;
         font-size: 30px;
         letter-spacing: 0px;
     }

     #white-text-2{
        position: absolute;
        margin-top:300px;
        margin-left:147px;
        transform: rotate(24deg);
        text-align: right;
        width: 190px;
        height: 44px;
        font-family: 'DIN next arabic';
        color: black;
        font-size: 12px;
        letter-spacing: 0px;
     }

     #register-button{
        margin-top: 324px;
         margin-left: 44px;
         transform: rotate(24deg);
         width: 230px;
         height: 47px;
         font-family: 'DIN next arabic';
         text-align: center;
         color: #EBEAEA;
         font-size: 16px;
         font-weight: bolder;
         letter-spacing: 0px;
         /* UI Properties */
         background: #00ADBB;
         box-shadow: 0px 3px 20px #00000029;
         border-radius: 16px;
         opacity: 1;
     }
     
     
     .blackBox{
         position:absolute;
         background-color:#0F1216 !important;
         top: 250px;
         left: 0px;
         width: 375px;
         height: 735px;
         transform: matrix(1, 0, 0, 1, 0, 0);
         /* UI Properties */
         background: transparent url('img/Rectangle 64.png') 0% 0% no-repeat padding-box;
         box-shadow: 0px 5px 40px #00000029;
         border-radius: 53px;
         opacity: 1;
         z-index: -2 !important;
     }
     
     .black-img{
         position: inherit;
         top: 230px;
         left: 0px;
         width: 305px;
         height: 243px;
         /* UI Properties */
         background: transparent url('img/01dar.png') 0% 0% no-repeat padding-box;
         opacity: 1;
     }

     .cup{
       display: none;
     }
     
     #black-text-1{
         margin: 10px;
         position: relative;
         margin:auto;
         text-align: left;
         width: 159px;
         height: 44px;
         font-family: 'DIN next arabic';
         top: 475px;
         left: 80px;
         color: #EBEAEA;
         font-size: 30px;
         letter-spacing: 0px;
     }
     
     #black-text-2{
         position: relative;
         margin-top: 10px;
         width: 176px;
         height: 44px;
         font-family: 'DIN next arabic';
         top: 473px;
         left: 153px;
         text-align: right;
         color: #EBEAEA;
         font-size: 12px;
         letter-spacing: 0px;
     }
.whiteBox{
    position: absolute;
     top: -4.928px;
     left: -39px;
     width: 500px;
     height: 415.57px;
     clip: auto;
     transform: rotate(-24deg);
     /* UI Properties */
     background-color: white !important;
     box-shadow: 0px 3px 40px #00000029;
     border-radius: 99px;
     opacity: 1;
     z-index: -1;
 }
 .white-img{
    position: inherit;
    top: 33px;
    left: 48px;
    width: 233px;
    height: 231px;
    /* UI Properties */
    background: transparent url('img/banner0 copy.png') 0% 0% no-repeat padding-box;
    transform: rotate(24deg);
    opacity: 1;
 }

 #white-text-1{
     position: absolute;
     margin-top:282px;
     margin-left:240px;
     transform: rotate(24deg);
     text-align: left;
     width: 200px;
     height: 44px;
     font-family: 'DIN next arabic';
     color: black;
     font-size: 30px;
     letter-spacing: 0px;
 }

 #white-text-2{
    position: absolute;
    margin-top:300px;
    margin-left:147px;
    transform: rotate(24deg);
    text-align: right;
    width: 190px;
    height: 44px;
    font-family: 'DIN next arabic';
    color: black;
    font-size: 12px;
    letter-spacing: 0px;
 }

 #register-button{
    margin-top: 324px;
     margin-left: 44px;
     transform: rotate(24deg);
     width: 230px;
     height: 47px;
     font-family: 'DIN next arabic';
     text-align: center;
     color: #EBEAEA;
     font-size: 16px;
     font-weight: bolder;
     letter-spacing: 0px;
     /* UI Properties */
     background: #00ADBB;
     box-shadow: 0px 3px 20px #00000029;
     border-radius: 16px;
     opacity: 1;
 }
 
 
 .blackBox{
     position:absolute;
     background-color: black !important;
     top: 250px;
     left: 0px;
     width: 375px;
     height: 735px;
     transform: matrix(1, 0, 0, 1, 0, 0);
     /* UI Properties */
     background: transparent url('img/Rectangle 64.png') 0% 0% no-repeat padding-box;
     box-shadow: 0px 5px 40px #00000029;
     border-radius: 53px;
     opacity: 1;
     z-index: -2 !important;
 }
 
 .black-img{
     position: inherit;
     top: 230px;
     left: 0px;
     width: 305px;
     height: 243px;
     /* UI Properties */
     background: transparent url('img/01dar.png') 0% 0% no-repeat padding-box;
     opacity: 1;
 }
 
 #black-text-1{
     margin: 10px;
     position: relative;
     margin:auto;
     text-align: left;
     width: 159px;
     height: 44px;
     font-family: 'DIN next arabic';
     top: 475px;
     left: 80px;
     color: #EBEAEA;
     font-size: 30px;
     letter-spacing: 0px;
 }
 
 #black-text-2{
     position: relative;
     margin-top: 10px;
     width: 176px;
     height: 44px;
     font-family: 'DIN next arabic';
     top: 473px;
     left: 153px;
     text-align: right;
     color: #EBEAEA;
     font-size: 12px;
     letter-spacing: 0px;
 }
 
 #startChallenge-button{
     margin-top: 500px;
     margin-left: 75px;
     width: 230px;
     height: 47px;
     font-family: 'DIN next arabic';
     text-align: center;
     color: #EBEAEA;
     font-size: 16px;
     font-weight: bolder;
     letter-spacing: 0px;
     /* UI Properties */
     background: #00ADBB;
     box-shadow: 0px 3px 20px #00000029;
     border-radius: 16px;
     opacity: 1;
 }


    

 @font-face {
    font-family: "DIN Next LT W23";
    src: url("./fonts/din-next-lt-w23-medium.ttf") format('truetype');
}

body {
  /* position: relative; */
  font-family: 'DIN Next LT W23', sans-serif;
}


nav{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 25px;
}

.info{
    margin: 50px 30px 0px 30px;
    display: flex;
    flex-direction: column;
}
.info-1{
    position: relative;
}

.info-1 img{
    position: absolute;
    top: -40px;
    left: 100px;
}


.info-2{
    margin-top: 50px;
    position: relative;
}

.info-2 img{
    position: absolute;
    top: -40px;
    left: 100px;
}
.info p{
    color: #BFBFBF;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 40px #7C7C7C29;
    border: 1px solid #70707029;
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    padding-top: 70px;
}




.browse-m{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #FAFCFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 70px #00000014;
    border-radius: 41px;
    opacity: 1;
    padding: 20px;
    margin: 20px;
    height: 300px;
}

.browse-m p{
    font-size: 20px;
    margin-top: 20px;
}

.browse-m button{
    font-family: 'DIN next arabic';
    background: #00ADBB 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px #00000029;
    border-radius: 15px;
    opacity: 1;
    color: white;
    border: 0;
    margin-top: 20px;
    padding: 8px;
    font-size: 17px;
}





.dropdown{
    padding-left: 20px;
}

footer{
    background-color: #00ADBB;
    margin-top: 50px;
    

}

.footer-logos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    height: 150px;
}


.footer-text{
    display: flex;
    justify-content: space-around;
}
.footer-text a{
    color: white;
    text-decoration: none;
    /* font-family: 'DIN Next LT W23', sans-serif; */



}

footer p{
    color: white;
    font-size: 12px;
    padding: 20px 0 15px 0;
    text-align: center;
}



.blackShape{
    display: none;
}

.browse{
    display: none;
}














@media screen and (min-width: 500px) {

    .parent-main{
        position: relative;
        overflow: hidden;
        height: 750px;
    }

    .blackShape{
        display: block;
    }
    
    .browse{
        display: flex;
    }
    
    
  .parent-main{
    margin: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
    /* height: 1000px; */
  }
  
  .whiteBox{
    position: relative;
    order: 2;
     top: 120px;
     /* left: -39px; */
     width: 500px;
     height: 500px;
     clip: auto;
     transform: rotate(-24deg);
     /* UI Properties */
     background-color: white !important;
     box-shadow: 0px 3px 40px #00000029;
     border-radius:52px;
     opacity: 1;
     z-index: -1;
  }

  .white-img{
    position: inherit;
    top: -60px;
    left: 86px;
    width: 300px;
    height: 300px;
    /* UI Properties */
    background: transparent url('img/banner0 copy.png') 0% 0% no-repeat padding-box;
    transform: rotate(29deg);
    opacity: 1;
 }

 #white-text-1{
     
     position: absolute;
     margin-top: 30px;
    margin-left: 295px;
     transform: rotate(24deg);
     text-align: left;
     width: 240px;
     height: 44px;
     font-family: 'DIN next arabic';
     color: black;
     font-size: 40px;
     letter-spacing: 0px;
 }

 #white-text-2{
    position: absolute;
    margin-top:63px;
    margin-left:182px;
    transform: rotate(24deg);
    text-align: right;
    width: 250px;
    height: 44px;
    font-family: 'DIN next arabic';
    color: black;
    font-size: 16px;
    letter-spacing: 0px;
 }

 #register-button{
    margin-top: 112px;
     margin-left: 170px;
     transform: rotate(24deg);
     width: 135px;
     height: 47px;
     font-family: 'DIN next arabic';
     text-align: center;
     color: #EBEAEA;
     font-size: 16px;
     font-weight: bolder;
     letter-spacing: 0px;
     /* UI Properties */
     background: #00ADBB;
     box-shadow: 0px 3px 20px #00000029;
     border-radius: 40px;
     opacity: 1;
 }

 .blackBox{
  position: relative;
  order:1;
  background-color:#0F1216 !important;
  box-shadow: 0px 3px 40px #00000029 !important;
  top: 120px;
  left: -39px;
  width: 500px;
  height: 500px;
  transform: rotate(-24deg);
  /* UI Properties */
  background: transparent url('img/Rectangle 64.png') 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 40px #00000029;
  border-radius: 53px;
  opacity: 1;
  z-index: -2 !important;
  }

  .black-img{
    position: inherit;
    top: -98px;
    left: 25px;
    width: 400px;
    height: 300px;
    transform: rotate(24deg);
    /* UI Properties */
    background: transparent url('img/01dar.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.cup{
  display:flex;
  position: relative;
  top: -275px;
  left: 315px;
  width: 170px;
  height: 100px;
  transform: rotate(24deg);
}

#black-text-1{
    position: relative;
    margin-top: -564px;
    margin-left: 144px;
    text-align: left;
    width: 300px;
    height: 44px;
    transform: rotate(24deg);
    font-family: 'DIN next arabic';
    top: 475px;
    left: 80px;
    color: #EBEAEA;
    font-size: 40px;
    letter-spacing: 0px;
}

#black-text-2{
    position: relative;
    margin-top: -7px;
    margin-left: 10px;
    width: 230px;
    height: 44px;
    transform: rotate(24deg);
    font-family: 'DIN next arabic';
    top: 473px;
    left: 153px;
    text-align: right;
    color: #EBEAEA;
    font-size: 16px;
    letter-spacing: 0px;
}

#startChallenge-button{
    margin-top: 500px;
    margin-left: 75px;
    width: 140px;
    height: 47px;
    transform: rotate(24deg);
    font-family: 'DIN next arabic';
    text-align: center;
    color: #EBEAEA;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 0px;
    /* UI Properties */
    background: #00ADBB;
    box-shadow: 0px 3px 20px #00000029;
    border-radius: 40px;
    opacity: 1;
}



    .dropdown{
        display: none;
    }

    .newacc-btn{
        display: block;
    }
    
    .register-btn{
        display: block;
    }

    nav{
        display: flex;
        flex-direction: row;
        box-shadow: 0px 3px 40px #0000001F;
    }

    nav img{
        margin-left: auto;
        margin-right: 50px;
    }



    .info{
        margin: 0;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;
        height: 290px;
        background-color: #F8F8F8;
    }

    .info-1{
        width: 30%;
    }

    .info-2{
        width: 30%;
        margin: 0;
    }

    .info img{
        top: -50px;
        left: 40%;
    }

    .browse-m{
        display: none;
    }

    .footer-logos{
        padding: 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .footer-text{
        justify-content: space-evenly;
    }


    

}
